<% if user_signed_in? %>
	<div id="left-content">
	<div id="notebooks">
					<div class="inner">
						<%= image_tag "notebooks.png", :height => "30px", :width => "150px"%>
	  <ul>
			<% @notebooks.each do |notebook| %>
				<li><%= link_to notebook.description, "#", {:class => "notebook-link", 
					:remote => true, :data => notebook.id.to_json }%></li>
			<% end %>
		</ul>	
		</div>
	</div>
	</div>
	
	<div id="right-content">
	<div id="notes">
					<div class="inner">
						<%= image_tag "notes.png", :height => "30px", :width => "100px"%>
		<% @notes_hash.each_pair do |nh_id, notes| %>
		  <div class="notes-list" data=<%= nh_id %>>
		    <ul>
		      <% notes.each do |note| %>
	    			<li><%= link_to note.title, "#", {:class => "note-link", 
							:remote => true, :data => note.id.to_json }%></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>
		</div>
	</div>
	</div>
	
<!-- 	<div id="notes-display">
			<div class="inner"> -->
<!-- 				<%= image_tag "notes_content.png", :height => "30px", :width => "200px"%> -->
			<% @notes.each_pair do |id, notes| %>
			  <div class="notes-edit" data=<%= id %>>
			     <ul class="no-list-style">
			      <% notes.each do |note| %>
			      	<div class="note-display-dialog" title="Notes Content" data=<%= note.id %>>
				  			<li><h3><%= note.title %></h3></li>
				  			<li><p><%= note.content %></p></li>
			  			</div>
			      <% end %>
			    </ul>
		    </div>
			<% end %>
<!--     </div>
	</div> -->
<% end %>

<script type="text/javascript">

	// function() {

	// };

	$(document).ready(function() {
		$(".note-display-dialog").dialog("destroy");
		$(".notes-list").hide();
	});
	
	$(".notebook-link").click(function() {
    $(".notes-list").hide().filter("[data=\"" + $(this).attr("data") + "\"]").show();
    $(".notes-edit").hide();
  });
  
	$(".note-link").click(function() {
    // $(".notes-edit").hide().filter("[data=\"" + $(this).attr("data") + "\"]").show();
  	$(".note-display-dialog").filter("[data=\"" + $(this).attr("data") + "\"]").dialog( {
			modal: true
		});
    // $(".note-display-dialog").dialog("close").filter("[data=\"" + $(this).attr("data") + "\"]").dialog("open");
  });
  
</script>