<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'index.js.erb' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>

<h1>PLUG Notes</h1>
<p>Hi there!</p>
<div id="accordion">
	<div>
		<h3><a href="#">What is PLUG?</a></h3>
		<div><p> is a note-taking application for the Android platform that allows seamless and hassle-free notetaking</p></div>
	</div>
	<div>
		<h3><a href="#">Where can I get PLUG?</a></h3>
		<div><p>PLUG is currently under development by the talented (and also very lazy) minds of Team JACK. We will release PLUG once it's finished... if ever we finish it</p></div>
	</div>
	<div>
		<h3><a href="#">How can I help?</a></h3>
		<div><p>Well, you can send us an email at <%= link_to "akiwarheit@gmail.com", "#" %> telling us that you are very interested in our project! That would boost our morale!</p></div>
	</div>
</div>